$screen-xs:                  480px; //phone
$screen-sm:                  768px; // Small screen/tablet
$screen-md:                  992px; // Medium screen / desktop
$screen-lg:                  1200px; // Large screen / wide desktop
// So media queries don't overlap when required, provide a maximum
$screen-min:		     ($screen-xs - 1);
$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);

$color-main: #464646;
$color-border: #d7d7d7;
$color-white: #fff;
$color-form-background: #54575a;
$color-person-link: #a1a1a1;

$max-page-width: 1300;
$default-font-size: 18;

@font-face {
    font-family: 'AGaramondProRegular';
    src: url('../fonts/AGaramondProRegular.eot');
    src: url('../fonts/AGaramondProRegular.eot') format('embedded-opentype'),
         url('../fonts/AGaramondProRegular.woff2') format('woff2'),
         url('../fonts/AGaramondProRegular.woff') format('woff'),
         url('../fonts/AGaramondProRegular.ttf') format('truetype'),
         url('../fonts/AGaramondProRegular.svg#AGaramondProRegular') format('svg');
}

@font-face {
    font-family: 'AGaramondProItalic';
    src: url('../fonts/AGaramondProItalic.eot');
    src: url('../fonts/AGaramondProItalic.eot') format('embedded-opentype'),
         url('../fonts/AGaramondProItalic.woff2') format('woff2'),
         url('../fonts/AGaramondProItalic.woff') format('woff'),
         url('../fonts/AGaramondProItalic.ttf') format('truetype'),
         url('../fonts/AGaramondProItalic.svg#AGaramondProItalic') format('svg');
}

@font-face {
    font-family: 'GraphikRegular';
    src: url('../fonts/GraphikRegular.eot');
    src: url('../fonts/GraphikRegular.eot') format('embedded-opentype'),
         url('../fonts/GraphikRegular.woff2') format('woff2'),
         url('../fonts/GraphikRegular.woff') format('woff'),
         url('../fonts/GraphikRegular.ttf') format('truetype'),
         url('../fonts/GraphikRegular.svg#GraphikRegular') format('svg');
}

@font-face {
    font-family: 'GraphikLight';
    src: url('../fonts/GraphikLight.eot');
    src: url('../fonts/GraphikLight.eot') format('embedded-opentype'),
         url('../fonts/GraphikLight.woff2') format('woff2'),
         url('../fonts/GraphikLight.woff') format('woff'),
         url('../fonts/GraphikLight.ttf') format('truetype'),
         url('../fonts/GraphikLight.svg#GraphikLight') format('svg');
}