@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing:    $box-model;
    -ms-box-sizing:     $box-model;
    box-sizing:         $box-model;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition:	$transition-property $transition-time $method;
    -ms-transition:	$transition-property $transition-time $method;
    -o-transition:	$transition-property $transition-time $method;
    transition:		$transition-property $transition-time $method;
}


@mixin font-smoothing($value: antialiased) {
    @if $value == antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    }
    @else {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
    }
}


@mixin pseudo-clearfix() {

    clear: both;
    content: "";
    display: block;
}

@function em($pixels, $context: $default-font-size) {

    @return #{$pixels/$context}em
}