.placeholder, figure img {

    width: 100% !important;
    height: auto !important;
}

.hidden {
    
    //display: none !important;
    display: none;
}

.page-wrap {

    max-width: #{$max-page-width}px;
    height: inherit;
    margin: 0 auto;
    padding: 0 percentage(50/$max-page-width);
    position: relative;
}

body {

    font-family: AGaramondProRegular;
    font-size: #{$default-font-size}px;
    line-height: em(24);    
    color: $color-main;
    @include font-smoothing(); 
}

a {

    text-decoration: none;
    color: $color-main;

    &:hover {

	text-decoration: underline;
    }
}

img {
    display: block;
    
    &.responsive {
	
	width: 100% !important;
	height: auto !important;	
    }
}

h1, h2 {

    font-family: GraphikLight;
    font-weight: normal;
}

h3, figcaption, .menu-subscribe {
    
    font-family: GraphikRegular;
    font-weight: normal;
}

#subscribe-form {
    
    display: none;
    //height: 200px;
    padding: 50px 0;
    background-color: $color-main;    
    
    input, button {

	color: $color-white;
	height: 35px;
    }

    input {

	@include box-sizing(border-box);		    
	background-color: $color-form-background;
	border: 1px solid $color-border;
    }

    input {

	width: percentage(400/625);
	padding: 0 percentage(15/625);
    }

    button {

	margin-left: percentage(25/625);
	background-color: $color-main;
	border: 0;
	text-decoration: underline;
	cursor: pointer;

	&:hover {

	    text-decoration: none;
	}
    }
}

#subscribe-close {

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: percentage(70/$max-page-width); //@TODO fix
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url(../images/close20x20.png);
}

#header {

    height: 114px;
    padding-top: 50px;

    text-align: center;
    
    .menu-subscribe {
	
	float: left;
	height: 15px;
    }
    
    .menu-subscribe {

	width: percentage(400/$max-page-width);
	text-align: right;	
	font-size: 15px;
	
	&:before {
	    
	    content: "";	    
	    display: inline-block;
	    margin-right: 9px;
	    width: 11px;
	    height: 11px;
	    background: url(../images/plus.svg);
	}
	
	&:after {
	    
	    @include pseudo-clearfix();
	}	
    }

    .menu-primary {

	display: inline-block;
	margin: 25px auto 0;

	ul {
	    li {

		border-right: 1px solid $color-main;
		line-height: em(12);
		display: inline-block;
		padding: 0 32px;
		margin-right: 1px solid black;
		font-family: AGaramondProItalic;

		&:last-child {
		    border-right: 0;
		    margin-right: 0;
		}    
	    }
	}
    }   
}

#menu {
    
    @media all and (min-width: $screen-sm) {
	display: none;
    }
    
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: fixed;
    
    i {
	display: block;
	width: 27px;
	height: 3px;
	position: relative;
	background-color: $color-main;
	top: 19px; left: 6px;


	&::before,
	&::after {
	    content: '';
	    display: block;
	    width: 27px;
	    height: 3px;
	    position: absolute;
	    left: 0;
	    background-color: $color-main;
	}
	&::after {
	    top: -5px;
	}
	&::before {
	    bottom: -5px;
	}
    }
}

#logo {

    float: left;
    height: 50px;    
    width: percentage(500/$max-page-width);
    padding-left: percentage(400/$max-page-width);
    text-align: center;
    margin-top: -25px;

    img {

	margin: 0 auto;
    }
}

section {

    h2 {

	font-size: 30px;
	text-align: center;
	position: relative;
	padding: 50px 0;

	&:before {

	    border-top: 1px solid $color-border;
	    content: " ";
	    display: block;
	    height: 0;
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    z-index: 1;
	}

	span {

	    display: inline-block;
	    padding: 0 percentage(32/$max-page-width);
	    position: relative;
	    z-index: 2;	
	}    
    }
}

#about-us, #creamiest-ideas {

    h2 span {

	background-color: $color-white;
    }
}

#micest-baltics, #find-us {

    background-color: $color-main;
    color: $color-white;

    h2 span {

	background-color: $color-main;
    }
}

#splash {

    padding-bottom: 120px;
    
    .page-wrap {
	
	overflow: hidden;
    }
    
    .slideshow-items, .slideshow-subitem {
	    
	position: relative;
	overflow: hidden;

	&::after {

	    content: '';
	    display: block;
	    position: absolute;
	    z-index: 20;
	    top: 0; right: 0; bottom: 0; left: 0;
	    background-repeat: no-repeat;
	    background-position: center center;
	}
    }    
    
    .slideshow-items::after {
	
	background-image: url('../images/bg_hotels_and_accomodation.png');
    }
    
    .slideshow-subitem {

	&.first::after {
	    background-image: url('../images/bg_nightlife.png');
	}
	&.second::after {
	    background-image: url('../images/bg_travels.png');
	}
    }    
	
    .slideshow-temp {
	
	max-width: 850px;
	//height: 550px; // @TODO: Temp, fix it	
	
	img {
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 1;
	    display:none;
	    
	    &.active {
		
		z-index: 2;
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	    }
	}
    }
    
    @media screen and (max-width: $screen-min) {
	
	.slideshow-subitems {
	    
	    display: none;
	}
    }
    
    @media screen and (min-width: $screen-xs) and (max-width: $screen-sm-max) {
		
	.slideshow-subitems {
	    
	    $block-width: 992;

	    width: 100%;
	    float: left;

	    margin-top: percentage(20/$block-width);	    
	    border-top: 1px solid $color-border;
	    
	    .slideshow-subitem {

		@include box-sizing(border-box);		
		width: percentage(495/$block-width);
		padding-top: percentage(20/$block-width);	
		float: left;
		
		&:first-child {

		    padding-right: percentage(20/$block-width);
		}

		&:last-child {

		    border-left: 1px solid $color-border;
		    padding-left: percentage(20/$block-width);
		}
	    }
	}	
    }
    
    @media screen and (min-width: $screen-md) {

	.slideshow-items, .slideshow-subitems {

	    float: left;
	}	
	
	.slideshow-items {

	    width: percentage(850/$max-page-width);
	    padding-right: percentage(25/$max-page-width);
	}

	.slideshow-subitems {

	    $block-width: 425;
	    
	    @include box-sizing(border-box);
	    width: percentage($block-width/$max-page-width);
	    border-left: 1px solid $color-border;

	    .slideshow-subitem {

		padding-left: percentage(25/$block-width);

		&:first-child {

		    padding-bottom: percentage(25/$block-width);
		}

		&:last-child {

		    border-top: 1px solid $color-border;
		    padding-top: percentage(25/$block-width);
		}
	    }
	}
    }

    &:after {
	@include pseudo-clearfix();
    }
}

#about-us {
    
    .about-us {
	
	padding-bottom: 75px;
	border-bottom: 1px solid $color-border;
	margin-bottom: 80px;

	@media screen and (max-width: $screen-xs-max) {
	    
	    div {

		padding-top: 50px;
	    }	    
	}
	
	@media screen and (min-width: $screen-sm) {
	
	    figure, div {

		width: percentage(625/$max-page-width);
		float: left;
	    }

	    div {

		padding-left: percentage(50/$max-page-width)
	    }

	    &:after {

		@include pseudo-clearfix();
	    }
	}
    }
}

#persons {
    
    margin-bottom: 70px;
    
    .page-wrap {

	display: flex;
    flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
    }
    
    .person {
	
	width: 290px;
	padding-bottom: 95px;
    }
    
    .name {
	
	font-family: 'GraphikRegular';
	font-size: 18px;
	line-height: 24px;
	padding-top: 20px;
	height: 62px;
    }
    
    .contact {
	
	padding-top: 25px;
	
	a {
	    color: $color-person-link;
	}
    }
}

#micest-baltics {
    
    min-height: 100vh;
    //margin: 100vh 0;
    
    .micest-baltics {
	
	padding-bottom: 90px;
	
	
	.micest-baltics-item {
	    
	    overflow: hidden;
	    
	    .micest-baltics-item-description {

		padding-bottom: 53px;
	    }

	    .micest-baltics-navigation {

		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;
		padding: 12px 0;
		
		ul {
		    
		    li {
			
			display: inline-block;
			line-height: em(14, 23);
			
			a {

			    color: $color-white;
			    font-family: AGaramondProItalic;
			    font-size: 1em;
			}			
		    }
		}
	    }	    
	    
	    @media screen and (max-width: $screen-xs-max) {
		
		figure {
		    padding-bottom: 50px;
		}
		
		.micest-baltics-navigation {

		    border-top: 1px solid $color-border;
		    border-bottom: 1px solid $color-border;
		    padding: 12px 0;

		    ul li {

			width: 49.9%;

			&:last-child {

			    text-align: right;
			}
		    }
		}			
	    }
	    
	    @media screen and (min-width: $screen-sm) {
		
		position: relative;
		
		figure, .micest-baltics-item-description {
		    
		    float: left;
		    
		}		
		
		figure {

		    width: percentage(850/$max-page-width);
		}

		.micest-baltics-item-description, .micest-baltics-navigation {
		    
		    width: percentage(400/$max-page-width);
		}
		
		.micest-baltics-item-description {

		    margin-left: percentage(50/$max-page-width);
		    margin-top: 70px;
		    z-index: 1;
		}
		
		.micest-baltics-navigation {

		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 2;
		    
		    ul li {

			&:first-child {

			    padding-right: 18px;
			    border-right: 1px solid $color-white;
			}

			&:last-child {

			    padding-left: 18px;
			}
		    }		    
		}
	    }
	}
	
	&:after {

	    @include pseudo-clearfix();
	}
    }
}

#creamiest-ideas {

    margin-top: 110px;
    
    .creamest-ideas {

	.creamest-ideas-item {
	    
	    padding-bottom: 50px;
	    
	    figure {
		
		figcaption {
		    
		    text-align: center;
		}
	    }
	    
	    @media screen and (max-width: $screen-xs-max) {
		
		padding-bottom: 50px;
		
		&:last-child {
		    
		    padding-bottom: 0;
		}
		
		figure {

		    figcaption {

			padding: 35px 0;
		    }
		}
	    }

	    @media screen and (min-width: $screen-sm) {
	    
		float: left;	    
		width: percentage(625/$max-page-width);

		&:nth-child(even) {

		    padding-left: percentage(50/$max-page-width);
		}

		&:nth-child(2n+3) {

		    clear: both;
		    content: "";
		}

		figure {

		    figcaption {

			padding: percentage(35/625) 0;
		    }
		}
	    }
	}

	&:after {

	    @include pseudo-clearfix();
	}
    }

    #creamest-ideas-more {

	background-color: $color-white;
	border: 1px solid $color-border;
	color: $color-main;
	width: 100%;
	text-align: center;
	font-family: AGaramondProItalic;
	font-size: em($default-font-size);
	margin: percentage(65/$max-page-width) 0 percentage(185/$max-page-width);
	padding: percentage(15/$max-page-width);
	cursor: pointer;
	
	&:hover {
	    
	    text-decoration: underline;
	}
    }
}

#find-us {
    
    padding-bottom: 104px;
    
    h3 {

	text-align: center;
    }
    
    .find-us {
	
	padding-bottom: 110px;

	.contacts-wrap, .contacts-description {

	    h3 {

		padding: 35px 0;
	    }
	}
	
	.contacts-wrap {
	    
	    .contacts {
		
		padding-bottom: 45px;
		
		p {
		    @include box-sizing(border-box);
		    
		    display: block;
		    width: 50%;
		    float: left;
		    font-family: GraphikLight;
		    
		    &.left {
			
			border-right: 1px solid $color-white;
		    }
		    
		    &.right {
			
			padding-left: 25px;
		    }
		    
		    
		}
		
		&:after {
		    
		    @include pseudo-clearfix();
		}
	    }
	    
	    #contact-form {

		border-top: 1px solid $color-border;

		textarea, input, button {

		    font-family: GraphikRegular;
		    font-size: 16px;
		    color: $color-white;
		}

		textarea, input {

		    @include box-sizing(border-box);		    
		    background-color: $color-form-background;
		    border: 1px solid $color-border;
		    padding-left: percentage(15/625);
		    padding-right: percentage(15/625);		    
		}

		textarea {


		    width: 100% !important;
		    min-height: 170px;
		    margin-bottom: 18px;
		    padding-top: 10px;
		    padding-bottom: 10px;
		}

		input, button {

		    height: 35px;
		}

		input {

		    width: percentage(400/625);
		}

		button {

		    margin-left: percentage(25/625);
		    background-color: $color-main;
		    border: 0;
		    text-decoration: underline;
		    cursor: pointer;

		    &:hover {

			text-decoration: none;
		    }
		}
	    }
	    
	    #contact-form-thanks {
		
		display: none;
	    }
	}
    }
    
    @media screen and (max-width: $screen-xs-max) {
	
	.find-us {
	    
	    .contacts-description {

		padding-top: 50px;
	    }
	}
    }
    
    @media screen and (min-width: $screen-sm) {

	
	.find-us {

	    &:after {

		@include pseudo-clearfix();
	    }

	    .contacts-wrap, .contacts-description {

		width: percentage(625/$max-page-width);
		float: left;
	    }

	    .contacts-description {

		padding-left: percentage(50/$max-page-width);
	    }
	}	
    }

    
    footer {
	
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	padding: 12px 0;
	
	&:after {
	    
	    @include pseudo-clearfix();
	}	
	
	.slogan {
	    
	    height: 25px;
	    line-height: em(25);
	    
	    i {

		font-family: AGaramondProItalic;
	    }
	}
	.social-links {
	    
	    a {

		&.sprite-twitter {
		    
		    height: sprite-sprite-height(twitter);
		    width: sprite-sprite-width(twitter);
		}
		
		&.sprite-facebook {
		    
		    height: sprite-sprite-height(facebook);
		    width: sprite-sprite-width(facebook);
		}
		
		&.sprite-instagram {
		    
		    height: sprite-sprite-height(instagram);
		    width: sprite-sprite-width(instagram);
		}
	    }
	}
	
	@media screen and (max-width: $screen-xs-max) {
	    
	    .slogan, .social-links {
		
		text-align: center;
	    }
	    
	    .social-links {
		
		display: block;
		
		a {
		    display: inline-block;
		    padding: 0 12px;
		}
	    }
	}
	
	@media screen and (min-width: $screen-sm) {
	    
	    .slogan, .social-links {

		float: left;
	    }
	    
	    .slogan {

		width: 70%;
	    }
	    
	    .social-links {
		
		&:after {
		    
		    @include pseudo-clearfix();
		}
		
		width: 30%;
		
		a {
		    
		    display: block;
		    float: right;
		    margin-right: 25px;		    
		}
	    }
	}	
    }
}